
/* MODAL */

#active {
    visibility: visible;
    opacity: 1;
}

.modal-wrapper{

    background: rgba(4, 9, 17, 0.808);

    width: 100%;
    height: 100%;
    position: fixed;

    top: 0px;
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* -------SUMIR UM ELEMENTO DA TELA------- */
    visibility: hidden;
    opacity: 0;

}



.modal{
    background-color: #E5F2FA;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    border-radius: 10px;

    flex-direction: column;
    width: min(550px, 90%);
    height: min(410px, 90%);

    margin-top: -80px;
    
    color: #384045;

    overflow: hidden;
}

.modal img{
    width: 140px;
    margin-bottom: 24px;
}

.modal h2{
    font-size: 30px;

    margin: 0;
}

.modal p{
    font-size: 20px;
    text-align: center;
}

.modal button{
    padding: 14px 32px;
}

.modal .logo-field{
    text-align: center;

    background-color: #ff7958;
    width: 100%;
    

    padding-top: 24px;
    margin-bottom: 15px;
}