@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import 'textos.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: min(100vw, 950px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid#e0e0e0;
}

.header h2 {
    font-size: 26px;
    margin: 0 0 6px 0;
}

.header img {
    width: 40px;
    position: absolute;
    right: 24px;
}

.header .sidenav-trigger {
    padding: 10.5px;
    margin: 11px 2px 11px 4px;
}

.page-title {
    background-color: rgb(219, 219, 219);
    font-size: 24px;
    text-align: left;
    margin: 35px 0px 14px 18px;
}
