@import 'textos.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: min(100vw, 950px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid#e0e0e0;
}

.header h2 {
    font-weight: 700;
    font-size: 26px;
    margin: 0 0 6px 0;
}

.header img {
    width: 40px;
    position: absolute;
    right: 24px;
}

.header .sidenav-trigger {
    padding: 10.5px;
    margin: 11px 2px 11px 4px;
}

.page-title {
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    margin: 35px 0px 8px 18px;
}

.month{
    font-weight: 700;
    font-size: 20px;
    margin: 6px 0px 12px 18px;
}

.collection{
    overflow: visible;
    color: #404099;
    margin: 0 16px 0px 16px;
    box-shadow: 4px 4px 5px #d6d6d6;

}

.collection-item{
    position: relative;
}

.collection-item .sector{
    margin-top: 4px;
    margin-bottom: 3px;
    font-weight: 400;
}

.collection-item .date{
    font-weight: 700;
    margin-bottom: 4px;
}

.actions{
    position: absolute;
    right: 18px;
    bottom: 10px;
    padding: 0;
}

.actions a{
    margin-left: 10px; 
}

