@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import 'styles/textos.css';
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

button,
a,
input {
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    margin-top: 0;
}

.navigation {
    width: 100%;
}

.submit {
    display: flex;
    align-content: center;
    justify-content: center;
}

.cadastrar {
    width: 50%;
}

.tabs .indicator {
    background-color: orangered;
}

#agendamento .indicator {
    background-color: transparent !important;
}

#test1,
#saopaulo,
#santos,
#test2 {
    width: 100%;
}

.input-field label {
    color: #ffab40;
}

.input-field input {
    border-bottom: 1px solid #ffab40 !important;
}

.input-field input:focus+label {
    color: #ffab40 !important;
}

.input-field input:focus {
    border-bottom: 2px solid #ffab40 !important;
    box-shadow: 0 1px 0 0 #ffab40;
}

.tabs .tab a:focus {
    background-color: #ffac4021 !important;
}