    .txt-align {
        text-align: center;
    }
    
    .txt-orange {
        color: #FE4400 !important;
    }
    
    .margin {
        border: 10px solid white;
        background: transparent;
        margin: 20px;
        display: block;
        float: center;
    }
    
    .txt-grey {
        color: #212121 !important
    }
    
    .font {
        font-family: "Roboto", sans-serif;
    }
    
    label {
        font-family: "Roboto", sans-serif;
        color: #FE4400 !important;
        font-size: 20px;
    }